<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Group 2</title>
        <!-- Latest compiled and minified CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" rel="stylesheet" >
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" class="row container-fluid" style="padding:0 50px;">
            <div class="xs-col-12">
                <h1>Countrymation</h1>
                <h2>Search for a country</h2>
                <hr>
          
                <div id ="search-div">
                    <form>
                        <label for="searchInput">Search for country here:</label><br>
                        <input v-model="searchInput" id="searchInput" type="text"  name="searchInput"/>
                        <br>
                    </form>  
                </div>
                <br>
                <button v-on:click="searchBtn" class="btn btn-success">Search</button>         
                <hr>
                <table>
                    <tr>
                        <th>Country</th>
                        <th>Capital</th>
                        <th>Population</th>
                    </tr>
                    <tr v-for="country in countries">
                        <td>
                            <img v-bind:src="country.flag" alt="Flag" height="26" width="42">
                            {{ country.name }}
                        </td>
                        <td>{{ country.capital }}</td>
                        <td>{{ country.population }}</td>
                    </tr>
                    <tr v-if="countries.length == 0">
                        <td colspan="3">
                            No countries found, search for a new one!
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <!--Load vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!--Load axios-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!--Load script file-->
        <script src="script.js"></script>
    </body>
</html>
